/* Define CSS variables for light mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --mode-background: #f2f2f7;
  --main-div-background: #f2f2f7;
  --card-background: #ffffff;
  --button-hover-color: #8777f2;
  --button-text-color: #333;
  --notification-background: #f2f2f7;
  --search-background: #f2f2f7;
  --icon-circle-background: white;
  --date-navigation-color: #333;
  --date-navigation-hover-color: #8777f2;
}

/* Override CSS variables for dark mode */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --mode-background: #333333;
  --main-div-background: #1e1e1e;
  --card-background: #333333;
  --button-hover-color: #6b5fcf;
  --button-text-color: #ffffff;
  --notification-background: #333333;
  --search-background: #333333;
  --icon-circle-background: #444444;
  --date-navigation-color: #ffffff;
  --date-navigation-hover-color: #a8a8ff;
}

/* Apply CSS variables to elements */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend";
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.container {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: -25px;
  position: relative;
}

.header-right {
  width: 700px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.content {
  display: flex;
  flex: 1;
  gap: 20px;
}

.sidebar {
  background-color: var(--background-color);
  width: 20%;
}

.remotePicDiv {
  margin-top: 40px;
  transform: scaleX(-1);
  margin-right: 20px;
}

.mainDiv {
  flex: 1;
  background-color: var(--main-div-background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.topTasksDiv {
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 10px;
  flex: 0.7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.bottomDivs {
  display: flex;
  flex: 1;
  gap: 1rem;
  max-height: 430px;
}

.userInfoDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  flex-shrink: 0;
}

.userIcon {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.userName {
  font-size: 24px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

.clickable-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin: 0;
}

.button-icon {
  width: 36px;
  height: auto;
  object-fit: cover;
}

.button-text {
  font-size: 24px;
  color: var(--button-text-color);
  font-family: "Lucida Sans";
}

.clickable-button:hover {
  background-color: var(--button-hover-color);
}

.clickable-button:hover .button-text {
  color: var(--text-color);
}

.remotePicDiv + .clickable-button {
  margin-top: 40px;
}

.remotePicDiv + .clickable-button:hover {
  background-color: rgb(250, 83, 83);
}

.navigationButtons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0;
}

.mode {
  background-color: var(--mode-background);
  padding: 10px;
  display: flex;
  gap: 20px;
  border-radius: 50px;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: var(--icon-circle-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-circle img {
  width: 30px;
  height: 30px;
}

/* Change the color of the selected mode button */
.mode button.active .icon-circle {
  background-color: #8777f2;
}

.notificationDiv {
  background-color: var(--notification-background);
  padding: 20px;
  border-radius: 50px;
}

.notificationDiv img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.searchDiv {
  background-color: var(--search-background);
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 60px;
}

.searchBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--icon-circle-background);
  padding: 20px;
  border-radius: 50%;
}

.searchBtn img {
  width: 24px;
  height: 24px;
}

.date-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  padding: 0 10rem;
  width: 100%;
}

.date-navigation__arrow {
  cursor: pointer;
  font-size: 2rem;
  color: var(--date-navigation-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.date-navigation__arrow--left {
  left: 15rem;
}

.date-navigation__arrow--right {
  right: 2rem;
}

.date-navigation__arrow:hover {
  color: var(--date-navigation-hover-color);
}

.date-navigation__text {
  font-size: 36px;
  font-weight: bold;
  color: var(--date-navigation-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: calc(50% + 7rem);
  transform: translateX(-50%);
}

.calendarDiv {
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.calander {
  width: 100%; 
  height:80%;
}

.fc .fc-toolbar-title {
  font-size: 1.5em; 
  color:#6b5fcf;
  text-align: center;
}


.upcoimgTasksDiv {
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.upcoimgTasksDivHeading {
  display: flex;
  flex-direction: column;
  flex-flow: wrap row;
  gap: 30px;
}

.upcoimgTasksDivHeading h2 {
  display: inline;
}

.addTaskButton {
  display: inline;
  float: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.addTaskButton img {
  width: 48px;
  height: 48px;
}

/* Style for the form */
#addTaskForm {
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none;
}


#addTaskForm label {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

#taskName {
  border: none;
  border-bottom: 1px solid black;
}

#taskName::placeholder {
  font-size: 18px;
  font-weight: bold;
}

#taskName:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

#taskDesc {
  border: none;
  padding-bottom: 40px;
}

#taskDesc::placeholder {
  font-size: 18px;
  padding-top: 100px;
}

#taskDesc:focus {
  border: none;
  outline: none;
}

#dateInput {
  padding: 3px;
  font-size: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: #f2f2f7;
  border: solid 0.5px black;
  cursor: pointer;
}

.chooseTimeDiv {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.chooseTimeDiv button {
  flex: 1;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #3c3c4399;
}

.chooseTimeDiv button.active {
  background-color:white;
  font-weight: bold;
  border: 2px solid black;
}

#timeSelection input[type="time"] {
  display: none; 
}

#timeSelection.active input[type="time"] {
  display: inline; 
  cursor: pointer;
}

.priorityOptions {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.priorityOptions button {
  flex: 1;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #3c3c4399;
}

.priorityOptions button.active {
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
}

.categoryOptions {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-bottom: 20px;
}

.categoryBtn {
  width: 120px; 
  height: 40px; 
  border-radius: 20px; 
  border: 2px solid transparent; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

/* Selected state */
.categoryBtn.selected {
  border-color: #000;
  transform: scale(1.1); 
}

.addTaskSubmitBtn{
  display: inline-block;
  background-color: #8777f2;
  color: white;
  border-radius: 6px;
  height: 40px;
  font-size: 18px;
}

/* Style for adding a new task div in upcoming tasks div*/
.taskItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 20px; 
  margin-bottom: 20px; 
  background-color: #F2F2F7;
}

.task-seperator{
  width: 3px;
  height: 100%;
  background-color: #8A8A8E;
  margin-left: 10px;
  margin-right: 10px;
}

/* Time */
.taskItem .taskTime {
  font-size: 22px;
  color: #333;
  margin-left: 20px;
  font-weight: bold;
}

/* Task Name */
.taskItem .taskName {
  flex: 1; 
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

/* Priority Circle */
.taskItem .priorityCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%; 
  margin-right: 50px;
}

/* Priority Colors */
.taskItem .priorityCircle.high {
  background-color: darkred; 
}

.taskItem .priorityCircle.mid {
  background-color: red; 
}

.taskItem .priorityCircle.low {
  background-color: lightcoral; 
}

.taskItem .icon-container{
  margin-right: 20px;
  vertical-align: middle;
}

.icon-container img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.topTasksItem{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.topTasksCategory, .topTasksDate {
  display: inline-block; 
  margin-right: 10px; 
}

.topTasksCategory{
  font-size: 1.4em;
  font-weight: bold;
}

.topTasksDate{
  padding: 5px;
  border-radius: 8px;
  background-color: #F2F2F7;
  font-size: 0.8em;
}

.topTasksName{
  font-size:0.9em;
}

.topTasksDesc{
  font-size:0.9em;
  text-wrap: pretty;
}
